/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
}

/* Header styles */
header {
  background: linear-gradient(to right, #0074d9, #0056b3);
  color: #fff;
  text-align: center;
  padding: 30px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Navigation styles */
.navbar ul{
  list-style-type: none;
  background-color: #fdfdfd; 
  overflow: hidden;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  display: flex;
 justify-content: center;

}

.navbar li{
 color:#333 ;
 padding: 10px 10px;
 margin: 0 15px;
 margin-bottom: 5px;
 display: inline-block;
 border-left: solid #0568ca;

}
.navbar a{
   text-decoration: none;
   font-weight: 500;
   margin: 15px;
}
.navbar a:hover {
   color: #c61414;
}
.navbar li:hover{
   background-color: #d9e0e991;
   border-radius: 8px;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #a1dff5;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #2457ce;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 5px;
  border-left:solid #0056b3;
  transition: background 0.5s, border-color 0.5s;
}

li:hover {
  background: #cbc8c884;
  border-left-color: #056cb0;
  border-right-color: #0056b3;
  border-radius: 8px;
}

/* Footer styles */
footer {
  text-align: center;
  height: 10%;
  display: flex;
  justify-content: center;        /* Xaxis */
  align-items: center;          /* Yaxis */
  width: 100%;
  background-color: #403f3f;
  color: #0c81c0;
  margin-top: 10vh;
}
